*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
select{
    width: 400px;
    margin: 20px auto;
    display: flex
}
div{
    text-align: center;
    font-size: 30px;
font-family: open sans;
}